<header>
    <nav class="navbar section-content">
        <a href="#" class="nav-logo">
            <h2 class="logo-text">📦 Entrega Fácil</h2>
        </a>

        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">Menu</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">Testimonials</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">Gallery</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<main>

    <section class="hero-section">

        <div class="section-content">

            <div class="hero-details">

                <h2 class="title">Entrega Fácil</h2>

                <h3 class="subtitle">A tua entrega, feita de forma simples e acessível!</h3>

                <p class="description">Conectamos-te a empresas de entrega confiáveis, sem complicações.
                    Quer sejas um cliente que precisa enviar algo, ou uma empresa de motoboys pronta para receber
                    pedidos, a nossa plataforma garante entregas seguras, rápidas e com total transparência. Tudo num só
                    lugar — simples, justo e eficiente.</p>

                <div class="buttons">
                    <a href="#" class="button order-now" routerLink="/pagina-login">Fazer login</a>
                    <a href="#" class="button contact-us" routerLink="/pagina-escolher-cadastro">Registre-se</a>
                </div>
            </div>

            <div class="hero-image-wrapper">
                <img src="/assets/image-Photoroom.jpg" alt="" class="hero-image">
            </div>


        </div>

    </section>

</main>